In [1]:
import os
import numpy as np 
import pandas as pd 

import tweepy
from konlpy.tag import Okt, Mecab
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict
import nltk
from hanspell import spell_checker

from pprint import pprint
import re
from math import log # IDF 계산을 위해

import warnings
warnings.filterwarnings(action='ignore')

In [2]:

current_dir = os.getcwd()
genre_df = pd.read_csv(current_dir + '/data/genre_df.csv')
genre_df.head()

   genre                                             script
0     액션  액션 영화(action film)는 영화의 한 갈래로, 등장인물의 육체적인 움직임을...
1    코미디  코미디 영화(comedy film)는 유머에 중점을 둔 영화 장르로, 관객들로부터 ...
2  다큐멘터리  다큐멘터리 영화(영어: Documentary Film), 또는 기록 영화(記錄映畵,...
3    판타지                      판타지 영화란 판타지적인 내용을 영화로 만든 것이다.
4     공포  공포 영화(恐怖映畫, 영어: horror film)란 귀신이나 유령 등 무서운 것과...

In [38]:
genre_df.loc[18, 'script'] = "리얼리티 방송(영어: reality television)은 대본에 기반하지 않는, 멜로드라마틱한 상황이나 유머스러운 상황을 표출하는 텔레비전 프로그램의 한 장르로, 전문 배우 대신 일반인을 주연으로 하는 것이 보통이며 상을 수여하는 콘테스트에서도 이따금 이루어진다.[1] 리얼리티 방송은 1948년 TV 시리즈 캔디드 카메라(Candid Camera)에서 비롯한다.[2] 이 장르는 1999년부터 2000년 즈음 빅 브라더와 서바이벌과 같은 텔레비전 시리즈의 성공과 더불어 하나의 현상으로 급격히 발전하였다.[1] 리얼리티 방송 장르에 속하는 프로그램을 흔히 리얼리티 쇼(reality shows)라 부르며 텔레비전 시리즈로 자주 제작된다. 다큐멘터리, 뉴스, 스포츠는 일반적으로 리얼리티 쇼로 분류하지 않는다."

genre_df.loc[9, 'script'] = "그리스 네덜란드 스페인 영국 프랑스 독일"

In [39]:
genre_list = list(genre_df['genre'])

In [40]:
# 불용어 설정
stop_words = set(genre_df['genre'])
stop_words.add('영화')

In [41]:
def extract_kor(doc):
    pattern = re.compile('[^ㄱ-ㅣ가-힣]') # 한글만 추출
    kor_doc = pattern.sub('', doc)
    result = spell_checker.check(kor_doc).checked

    return result

def tokenizing(text):
    tokenizer = Mecab()
    total_tokens = tokenizer.nouns(text)
    total_tokens = [token for token in total_tokens if token not in stop_words and len(token) > 1]
    return ' '.join(total_tokens)
    
def preprocessing(corpus):
    kor_corpus = [extract_kor(doc) for doc in corpus]
    kor_tokens = [tokenizing(doc) for doc in kor_corpus]
    return kor_tokens

In [42]:
contents = list(genre_df['script'])
kor_tokens = preprocessing(contents)
kor_total_tokens = []
for L in kor_tokens:
    kor_total_tokens += L.split()

In [43]:
vocab = list(set(kor_total_tokens))
vocab.sort()

In [44]:
# 총 문서의 수
N = len(kor_tokens) 

def tf(t, d):
  return d.count(t)

def idf(t):
  df = 0
  for doc in kor_tokens:
    df += t in doc
  return log(N/(df+1))

def tfidf(t, d):
  return tf(t,d)* idf(t)

In [45]:
result = []

# 각 문서에 대해서 아래 연산을 반복
for i in range(N):
  result.append([])
  d = kor_tokens[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_.head()

,가상,갈래,감상,개척사,건전,게임,경기,경련,경우,고조,...,현대,현상,현실,혐오감,형식,형태,호러,혼재,활극,활약
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,5,0,0,0

In [46]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index=vocab, columns=["IDF"])
idf_.head()

          IDF
가상   2.251292
갈래   2.251292
감상   2.251292
개척사  2.251292
건전   2.251292

In [47]:
result = []
for i in range(N):
  result.append([])
  d = kor_tokens[i]
  for j in range(len(vocab)):
    t = vocab[j]
    result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_.head()

,가상,갈래,감상,개척사,건전,게임,경기,경련,경우,고조,...,현대,현상,현실,혐오감,형식,형태,호러,혼재,활극,활약
0,0.0,2.251292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,2.251292,2.251292
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,2.251292,0.000000,0.0,0.000000,0.000000
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.251292,...,0.0,0.0,0.0,0.0,0.0,0.000000,11.256459,0.0,0.000000,0.000000

In [48]:
df = tfidf_.transpose()
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
가상,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2.251292,0.0,0.0
갈래,2.251292,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
감상,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2.251292,0.0,0.000000,0.0,0.0
개척사,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.251292,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
건전,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2.251292,0.0,0.000000,0.0,0.0

In [49]:
df.columns = genre_list

In [52]:
for genre in df.columns:
    print('========= %s =========' % genre)
    print(df[genre].sort_values(ascending=False).head(5))
    print(df[df[genre]>0][genre].sort_values(ascending=False))

========= 액션 =========
활약     2.251292
해결     2.251292
정의     2.251292
주안점    2.251292
의미     2.251292
Name: 액션, dtype: float64
갈래      2.251292
의미      2.251292
활극      2.251292
해결      2.251292
주안점     2.251292
정의      2.251292
재난      2.251292
권선징악    2.251292
활약      2.251292
육체      2.251292
움직임     2.251292
이용      1.845827
등장인물    1.845827
이야기     1.845827
인물      1.558145
서부극     1.558145
등장      1.558145
포함      1.335001
사건      1.152680
Name: 액션, dtype: float64
========= 코미디 =========
관객    4.502584
중점    2.251292
웃음    2.251292
방법    2.251292
행동    2.251292
Name: 코미디, dtype: float64
관객     4.502584
과장     2.251292
방법     2.251292
웃음     2.251292
중점     2.251292
행동     2.251292
대부분    1.845827
상황     1.845827
성격     1.845827
유머     1.845827
제작     1.845827
장르     1.093087
Name: 코미디, dtype: float64
========= 다큐멘터리 =========
기록     4.502584
시각     2.251292
라틴어    2.251292
시도     2.251292
문화     2.251292
Name: 다큐멘터리, dtype: float64
기록     4.502584
논픽션    2.251292
단어     2.251292
라틴어    2.251292
문화     2.251292
시각     2.251292
시도     2.251292
어시     2.251292
형태     2.251292
사실     1.845827
유래     1.845827
영어     1.152680
작품     1.152680
Name: 다큐멘터리, dtype: float64
========= 판타지 =========
내용    2.251292
가상    0.000000
인물    0.000000
유래    0.000000
유령    0.000000
Name: 판타지, dtype: float64
내용    2.251292
Name: 판타지, dtype: float64
========= 공포 =========
호러     11.256459
자연     11.256459
좀비      4.502584
유령      4.502584
두려움     4.502584
Name: 공포, dtype: float64
호러     11.256459
자연     11.256459
좀비      4.502584
두려움     4.502584
유령      4.502584
         ...
주제      1.335001
포함      1.335001
사건      1.152680
영어      1.152680
작품      1.152680
Name: 공포, Length: 67, dtype: float64
========= 음악 =========
혼재     2.251292
노래     2.251292
형식     2.251292
뮤지컬    2.251292
배우     1.845827
Name: 음악, dtype: float64
노래     2.251292
뮤지컬    2.251292
형식     2.251292
혼재     2.251292
배우     1.845827
이야기    1.845827
하나     1.558145
장르     0.546544
Name: 음악, dtype: float64
========= 로맨스 =========
사랑     4.502584
해당     2.251292
치정     2.251292
분위기    2.251292
관점     2.251292
Name: 로맨스, dtype: float64
사랑     4.502584
관계     2.251292
관점     2.251292
로맨틱    2.251292
분위기    2.251292
치정     2.251292
해당     2.251292
범위     1.845827
분류     1.845827
장르     1.639631
배경     1.558145
하나     1.558145
주제     1.335001
사건     1.152680
영어     1.152680
Name: 로맨스, dtype: float64
========= 스포츠 =========
소재     2.305359
선수     2.251292
경기     2.251292
대부분    1.845827
인물     0.000000
Name: 스포츠, dtype: float64
소재     2.305359
경기     2.251292
선수     2.251292
대부분    1.845827
Name: 스포츠, dtype: float64
========= 서부 =========
개척사    2.251292
미국     2.251292
극작품    2.251292
서부극    1.558145
작품     1.152680
Name: 서부, dtype: float64
개척사    2.251292
극작품    2.251292
미국     2.251292
서부극    1.558145
소재     1.152680
작품     1.152680
Name: 서부, dtype: float64
========= Made in Europe =========
스페인    2.251292
독일     2.251292
영국     2.251292
그리스    2.251292
프랑스    2.251292
Name: Made in Europe, dtype: float64
그리스     2.251292
네덜란드    2.251292
독일      2.251292
스페인     2.251292
영국      2.251292
프랑스     2.251292
Name: Made in Europe, dtype: float64
========= 애니메이션 =========
극장판    4.502584
작품     1.152680
가상     0.000000
인류     0.000000
웃음     0.000000
Name: 애니메이션, dtype: float64
극장판    4.502584
작품     1.152680
Name: 애니메이션, dtype: float64
========= 범죄 =========
범죄자    2.251292
중심     2.251292
사건     1.152680
소재     1.152680
장르     0.546544
Name: 범죄, dtype: float64
범죄자    2.251292
중심     2.251292
사건     1.152680
소재     1.152680
장르     0.546544
Name: 범죄, dtype: float64
========= 드라마 =========
바탕     2.251292
정서     2.251292
현실     2.251292
법정     2.251292
극영화    2.251292
Name: 드라마, dtype: float64
극영화     2.251292
바탕      2.251292
정서      2.251292
법정      2.251292
현실      2.251292
범위      1.845827
성격      1.845827
등장인물    1.845827
하위      1.845827
시대극     1.845827
장르      1.639631
묘사      1.558145
등장      1.558145
인물      1.558145
주제      1.335001
포함      1.335001
영어      1.152680
Name: 드라마, dtype: float64
========= 역사 =========
사실    3.691653
포함    2.670002
인류    2.251292
구분    2.251292
경우    1.845827
Name: 역사, dtype: float64
사실     3.691653
포함     2.670002
구분     2.251292
인류     2.251292
경우     1.845827
시대극    1.845827
테마     1.845827
배경     1.558145
서부극    1.558145
인물     1.558145
사건     1.152680
장르     1.093087
Name: 역사, dtype: float64
========= 가족 =========
오락    4.502584
작품    2.305359
숙명    2.251292
필수    2.251292
증오    2.251292
Name: 가족, dtype: float64
오락     4.502584
작품     2.305359
감상     2.251292
압박     2.251292
필수     2.251292
폭력     2.251292
증오     2.251292
장면     2.251292
건전     2.251292
어른     2.251292
아이     2.251292
숙명     2.251292
성적     2.251292
비참     2.251292
경련     2.251292
혐오감    2.251292
사회     1.845827
테마     1.845827
묘사     1.558145
주제     1.335001
Name: 가족, dtype: float64
========= 스릴러 =========
전개    2.251292
악당    2.251292
재능    2.251292
영웅    2.251292
대결    2.251292
Name: 스릴러, dtype: float64
게임    2.251292
대결    2.251292
문학    2.251292
빈발    2.251292
악당    2.251292
영웅    2.251292
재능    2.251292
전개    2.251292
하위    1.845827
장르    1.093087
Name: 스릴러, dtype: float64
========= SF =========
과학    9.005167
여행    4.502584
기존    4.502584
문제    4.502584
외계    3.691653
Name: SF, dtype: float64
과학      9.005167
여행      4.502584
기존      4.502584
문제      4.502584
소설      3.691653
외계      3.691653
경우      3.691653
작자      2.251292
시간      2.251292
영화제     2.251292
요소      2.251292
우주선     2.251292
인식      2.251292
정치      2.251292
전통      2.251292
조건      2.251292
주류      2.251292
지각      2.251292
철학      2.251292
초점      2.251292
측면      2.251292
탐구      2.251292
수사법     2.251292
가상      2.251292
기준      2.251292
생명체     2.251292
사이보그    2.251292
사용      2.251292
사변      2.251292
관심      2.251292
그것      2.251292
무지      2.251292
성간      2.251292
기술      2.251292
로봇      2.251292
때문      2.251292
논리      2.251292
세계      1.845827
플롯      1.845827
기반      1.845827
현상      1.845827
미래      1.845827
인간      1.845827
유래      1.845827
사회      1.845827
묘사      1.558145
장르      0.546544
Name: SF, dtype: float64
========= 전쟁 =========
배경    3.116289
현대    2.251292
중세    2.251292
미래    1.845827
소재    1.152680
Name: 전쟁, dtype: float64
배경    3.116289
중세    2.251292
현대    2.251292
미래    1.845827
소재    1.152680
Name: 전쟁, dtype: float64
========= Reality TV =========
리얼리티    11.256459
시리즈      6.753875
방송       6.753875
텔레비전     6.753875
프로그램     4.502584
Name: Reality TV, dtype: float64
리얼리티    11.256459
방송       6.753875
텔레비전     6.753875
시리즈      6.753875
프로그램     4.502584
일반       4.502584
상황       3.691653
성공       2.251292
수여       2.251292
주연       2.251292
캔디       2.251292
전문       2.251292
콘테스트     2.251292
일반인      2.251292
뉴스       2.251292
즈음       2.251292
쇼라       2.251292
카메라      2.251292
서바이벌     2.251292
브라더      2.251292
표출       2.251292
보통       2.251292
발전       2.251292
대신       2.251292
대본       2.251292
기반       1.845827
현상       1.845827
제작       1.845827
유머       1.845827
분류       1.845827
배우       1.845827
장르       1.639631
하나       1.558145
영어       1.152680
Name: Reality TV, dtype: float64