In [1]:
import os
from krwordrank.word import KRWordRank
from krwordrank.hangle import normalize
import krwordrank
import pandas as pd

current_dir = os.getcwd()

In [2]:
review_df = pd.read_csv(current_dir + '/data/review_movie_id.csv')

In [3]:
review_df.head()

   movie_id                                             review
0        38             시사회에서 보고왔습니다동화와 재즈뮤지컬의 만남 지루하지않고 재밌습니다
1        38  사랑과 꿈 그 흐름의 아름다움을 음악과 영상으로 최대한 담아놓았다 배우들 연기는 두...
2        38  지금껏 영화 평가 해본 적이 없는데 진짜 최고네요 색감 스토리 음악 연기 모두 최고입니다
3        38  방금 시사회 보고 왔어요 배우들 매력이 눈을 뗄 수가 없게 만드네요 한편의 그림 같...
4        38  초반부터 끝까지 재미있게 잘보다가 결말에서 고국마 왕창먹음 힐링 받는 느낌들다가 막...

In [4]:
review_df.shape

(35420, 2)

In [5]:
new_review = "너무재밌어요 돈하나도안아까움ㅋㅋ"
movie_id = 38 # 스파이더맨?

In [ ]:
new_review = normalize(new_review, english=True, number=False)

In [9]:
new_review

'너무 재밌어요 돈 하나도 안 아까움'

In [10]:
if len(new_review) > 0 :
    data = {'movie_id': movie_id, 'review': new_review}
    review_df = review_df.append(data, ignore_index=True)

In [11]:
review_df.tail()

       movie_id                                             review
35416       356  무간도를 능가하지는 못했지만 무간도급 재미의 영화 일단 시나리오가 찰지다 뭔가 쫀득...
35417       356                                          재미있을것 같네요
35418       356  부당거래의 후속작을 베를린이라고 생각했으나 바로 이 영화였다 박훈정의 신세계무간도의...
35419       356  첫 평점을 제가 남기는군요 영광입니다 사실 화요일에 시사회에서 봤었거든요 오랜만에 ...
35420        38                                너무 재밌어요 돈 하나도 안 아까움

In [12]:
reviews = list(review_df[review_df['movie_id']==movie_id].review)

In [13]:
def define_stopwords(path):
    SW = set()

    with open(path, encoding="utf-8") as f:
        for word in f:
            SW.add(word.strip())
            
    # SW.add("있어요")
    
    return SW

In [14]:
def get_from_list(l, i, default=('', 0)):
    if len(l) <= i:
        return default
    else:
        return l[i]

In [15]:
def keyword_extraction(reviews):
    wordrank_extractor = KRWordRank(
        min_count = 5, # 단어의 최소 출현 빈도수 (그래프 생성 시)
        max_length = 10, # 단어의 최대 길이
        verbose = True
        )

    beta = 0.85    # PageRank의 decaying factor beta
    max_iter = 10

    try: 
        keywords, rank, graph = wordrank_extractor.extract(reviews, beta, max_iter)
        top_keywords = sorted(keywords.items(),
                key=lambda x:x[1],
                reverse=True)[:50]

        SW = define_stopwords(current_dir + "/data/stopwords.txt")
        selected_top_keywords = []
        for word, r in top_keywords:
            
            if word in SW:
                continue
            selected_top_keywords.append((word, r))

        # 키워드 5개 추출
        print([selected_top_keywords[k][0] for k in range(4)])
            
    except:
        print("키워드 추출할 충분한 리뷰 데이터가 없습니다.")

In [16]:
keyword_extraction(reviews)

scan vocabs ...
num vocabs = 13822
done = 9 Early stopped.
['음악', '뮤지컬', '사랑', '영상']